.App {
  text-align: center;
  height: 800px;
  background-color: #fff8dc;
  z-index: 1;
}

.appBody {
  float: left;
  width: 100%;
  height: 200px;
  background-color: #a5a39b;
  position: static;
  z-index: 1;
}

.menuBody {
  right: 0px;
  width: 30%;
  display: flex;
  flex-direction: column ;
  min-height: 100%;
  position: absolute;
  background-color: #6f6d66;
  z-index: -1;
}


