.App {
  text-align: center;
  height: 800px;
  background-color: #fff8dc;
  z-index: 1;
}

.appBody {
  float: left;
  width: 100%;
  height: 200px;
  position: static;
  padding: 20px;
  z-index: 1;
}




