.App {
  text-align: center;
  height: 800px;
  background-color: #fff8dc;
  z-index: 1;
}

.appBody {
  float: left;
  width: 100%;
  height: 200px;
  position: static;
  padding: 20px;
  z-index: 1;
}

.menuBody {
  color: white;
  right: 0px;
  width: 20%;
  display: flex;
  flex-direction: column ;
  padding: 20px;
  min-height: 100%;
  position: absolute;
  background-image: linear-gradient(#6f6d66,#57524c);
  z-index: -1;
}


