

.contactBody {
    display: flex;
    flex-direction: column;
    padding: 4vw;
}

.contactTop {
    font-size: 3vw;
    font-weight: bold;
    color: #d3ae36;
    text-shadow: 3px 3px 6px rgb(201, 201, 201);
    background-color: white;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 3vw;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    border-bottom-style: solid;
}

.contactMiddle {
    display: flex;
    flex-direction: row;
}

.leftSplit {
    display: inline-flex;
    left: 0px;
    width: 50%;
    margin-left: 5vw;
    padding: 3vw;
    background-color: white;
}

.christaPortrait {
    width: auto;
    height: 100%;
}

.rightSplit {
    display: inline-flex;
    text-align: left;
    right: 0px;
    width: 50%;
    margin-right: 5vw;
    padding: 3vw;
    background-color: white;
}

.nameBox {
    margin: 2vw;
}

.nameFirst {
    height: 2vw;
    width: 45%;
    font-size: inherit;
}

.nameLast {
    height: 2vw;
    margin: .5vw;
    width: 45%;
    font-size: inherit;
}


.emailBox {
    margin: 2vw;
}

.emailTextField {
    height: 2vw;
    width: 100%;
    font-size: inherit;
    margin-top: 1vw;
}

.commentsBox {
    margin: 2vw;
}

.commentsTextArea {
    font-size: inherit;

    margin-top: 1vw;
}


@media only screen and (max-width: 768px) {
   
    .nameBox {
        display: flex;
        flex-direction: column;
    }
    .nameFirst {
        display: flex;
        width: 100%;
        margin: 1vw;
    }
    .nameLast {
        display: flex;
        width: 100%;
        margin: 1vw;
    }
    
    .emailTextField {
        width: 100%;
        margin: 1vw;
    }




}