

.contactBody {
    display: flex;
    flex-direction: column;
    padding: 4vw;
}

.contactTop {
    font-size: 3vw;
    font-weight: bold;
    color: #d3ae36;
    text-shadow: 3px 3px 6px rgb(201, 201, 201);
    background-color: white;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 3vw;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    border-bottom-style: solid;
}

.contactMiddle {
    display: flex;
    flex-direction: row;
}

.leftSplit {
    display: inline-flex;
    left: 0px;
    width: 50%;
    margin-left: 5vw;
    padding: 3vw;
    background-color: white;
}

.christaPortrait {
    width: auto;
    height: 100%;
}

.rightSplit {
    display: inline-flex;
    text-align: left;
    right: 0px;
    width: 50%;
    margin-right: 5vw;
    padding: 3vw;
    background-color: white;
}

.nameBox {
    margin: 2vw;
}

.nameFirst {
    height: 2vw;
    width: 45%;
    font-size: inherit;
    border-style: solid;
    border-width: thin;
    border-color: rgb(184, 184, 184);
}

.nameLast {
    height: 2vw;
    margin: .5vw;
    width: 45%;
    font-size: inherit;
    border-style: solid;
    border-width: thin;
    border-color: rgb(184, 184, 184);
}


.emailBox {
    margin: 2vw;
}

.emailTextField {
    height: 2vw;
    width: 100%;
    font-size: inherit;
    margin-top: 1vw;
    border-style: solid;
    border-width: thin;
    border-color: rgb(184, 184, 184);
}

.commentsBox {
    margin: 2vw;
}

.commentsTextArea {
    font-size: inherit;

    margin-top: 1vw;
}

textarea {
    height: 10vw;
    width: 100%;
    resize: none;
    border-color: rgb(184, 184, 184);
}


@media only screen and (max-width: 768px) {
   
    .nameBox {
        display: flex;
        flex-direction: column;
    }
    .nameFirst {
        display: flex;
        width: 100%;
        margin: 1vw;
    }
    .nameLast {
        display: flex;
        width: 100%;
        margin: 1vw;
    }
    
    .emailTextField {
        width: 100%;
        margin: 1vw;
    }

}

@media only screen and (max-width: 425px) {
   
   .contactBody {
       padding: 1vw;
   }
    .contactTop {
       margin-left: 1vw;
       margin-right: 1vw;
       
   }
    .rightSplit {
        margin-right: 1vw;
    }

 .christaPortrait {
        width: 100%;
        height: auto;
    }

    .leftSplit {
        margin-left: 1vw;
    }

    .nameFirst {
        height: 3vw;
    }

    .nameLast {
        height: 3vw;
    }

    .emailTextField {
        height: 3vw;
    }

    textarea {
        height: 20vw;
    }
   
}