

.menuButton {
    color: rgb(239, 225, 225);
    font-size: 1.6vw;
    text-decoration: none;
    margin-top: 5vw;
}

 .menuBody {
    
    text-align: left;
    right: 0px;
    top: 64px;
    width: 10vw;
    display: flex;
    flex-grow: inherit;
    flex-direction: column ;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 800px;
    min-height: 100%;
    position: absolute;
    background-image: linear-gradient(#6f6f6f,#595959);
    z-index: -1;
    box-shadow: -5px 10px 10px rgb(19, 19, 19);
  }

  @media only screen  and (max-width: 425px) {
    .menuBody {
      top: 56px;
    }
  }
