

.homeButton {
    color: rgb(239, 225, 225);
    text-decoration: none;
}

 .menuBody {
    color: white;
    right: 0px;
    width: 20%;
    display: flex;
    flex-direction: column ;
    padding: 20px;
    min-height: 100%;
    position: absolute;
    background-image: linear-gradient(#6f6d66,#57524c);
    z-index: -1;
  }
